<html>

<head>
  <title>Validation du numéro de téléphone</title>
  <meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">

</head>

<body>
  <!-- <div class="col-md-12 ml-auto mr-auto"> -->
  <!-- <img  class="img-responsive center-block d-block mx-auto" src = "{{ url_for('static', path='/images/rsz_logo_white.png')}}" alt="logo" style=" width: 20%; height: 20%; margin-top: 20px;padding-top: 40px;"></div> -->
  <div class="container">
    <div class="col-md-4 ml-auto mr-auto">
      <p> <img class="marge-top1" src="./static/images/rsz_logo_white.png" alt="logo"></p>
      <h2>Bonjour, vous n'avez pas pu effectuer votre enregistrement, veuillez rééssayer</h1>
        <br>
        <form action="" method="post">
          <input type="text" placeholder="Code Pin reçu" name="firstname" style="width: 100%;"
            value=""><br><br>
          <input class="btn btn-success" type="submit" value="S'enregistrer à cette adresse"
            style="border-radius: 20px; margin-left: 20%;">
        </form>
      
    </div>
  </div>
</body>

</html>